@import './reset';
@import './config';

* {
   box-sizing: border-box;
}

:root {
   // -- Typography -- //
   --serif: Sabon, Palatino, Book Antiqua, serif;
   --greek: Palatino, Book Antiqua, serif;
   --serif-smcp: Sabon SMCP, Palatino, Book Antiqua, serif;
   --sans: cronos-pro, Avenir Next, Avenir, sans-serif;
   --sans-subhead: cronos-pro-subhead, Avenir Next, Avenir, sans-serif;
   --sans-display: cronos-pro-display, Avenir Next, Avenir, sans-serif;
   --mono: Hack, Menlo, Consolas, monospace;
   --fs-base: 16px;
   --sans-adjust: 1.05;
   --sans-adjust-rem: 1.05rem;
   --min-line-height: 1.375;
   --line-height: var(--min-line-height);

   --hue-neutral: 255, 10%;
   --hue-color: 260, 95%;

   // -- Colors -- //
   --gray-0: hsl(var(--hue-neutral), 15%);
   --gray-1: hsl(var(--hue-neutral), 25%);
   --gray-2: hsl(var(--hue-neutral), 35%);
   --gray-3: hsl(var(--hue-neutral), 50%);
   --gray-4: hsl(var(--hue-neutral), 70%);
   --gray-5: hsl(var(--hue-neutral), 95%);
   --gray-6: hsl(var(--hue-neutral), 99%);

   --blue-0: hsl(var(--hue-color), 18%);
   --blue-1: hsl(var(--hue-color), 33%);
   --blue-2: hsl(var(--hue-color), 45%);
   --blue-3: hsl(var(--hue-color), 60%);
   --blue-4: hsl(var(--hue-color), 71%);
   --blue-5: hsl(var(--hue-color), 80%);
   --blue-6: hsl(var(--hue-color), 92%);

   --transition: 0.25s ease;
}

@media screen {
   @media (prefers-reduced-motion: reduce) {
      :root {
         --transition: 0s;
      }
   }

   @media (min-width: $resize) {
      :root {
         --fs-base: 18px;
         --line-height: 1.425;
      }
   }
}

html {
   padding: 0;
   margin: 0;
   font: var(--fs-base) / var(--line-height) var(--serif);
}

@import './color-scheme';
@import './mixins';

@import './defaults';

@import './components';
@import './layout';
@import './typography';
@import './utils';
